
/*
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */


 html #phpbb  , body #phpbb  {
	color: #536482;
	background-color: #F5F7FA;
}

 #phpbb h1 {
	color: #FFFFFF;
}

 #phpbb h2 {
	color: #28313F;
}

 #phpbb h3 {
	border-bottom-color: #CCCCCC;
	color: #115098;
}

 #phpbb hr {
	border-color: #FFFFFF;
	border-top-color: #CCCCCC;
}

/* Search box
--------------------------------------------- */


 #phpbb .search-box .inputbox , #phpbb .search-box .inputbox:hover , #phpbb .search-box .inputbox:focus , #phpbb .search-box .button:hover {
	border-color: #C7C3BF;
}

 #phpbb .search-header {
	box-shadow: 0 0 10px #0075B0;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */

 #phpbb #wrap {
	background-color: #FFF;
	border-color: #E6E9ED;
}

 #phpbb .headerbar {
	background-color: #12A3EB;
	background-image: url("./images/bg_header.gif");
	color: #FFFFFF;
}

 #phpbb .navbar {
	background-color: #cadceb;
}

 #phpbb .forabg {
	background-color: #0076b1;
	background-image: url("./images/bg_list.gif");
}

 #phpbb .forumbg {
	background-color: #12A3EB;
	background-image: url("./images/bg_header.gif");
}

 #phpbb .panel {
	background-color: #ECF1F3;
	color: #28313F;
}

 #phpbb .post:target .content {
	color: #000000;
}

 #phpbb .post:target h3 a {
	color: #000000;
}

 #phpbb .bg1 {
	background-color: #ECF3F7;
}

 #phpbb table.zebra-list tr:nth-child(odd)td , #phpbb ul.zebra-list li:nth-child(odd) {
	background-color: #ECF3F7;
}

 #phpbb .bg2 {
	background-color: #e1ebf2;
}

 #phpbb table.zebra-list tr:nth-child(even)td , #phpbb ul.zebra-list li:nth-child(even) {
	background-color: #e1ebf2;
}

 #phpbb .bg3 {
	background-color: #cadceb;
}

 #phpbb .ucprowbg {
	background-color: #DCDEE2;
}

 #phpbb .fieldsbg {
	background-color: #E7E8EA;
}

/* Horizontal lists
----------------------------------------*/


 #phpbb ul.navlinks {
	border-top-color: #FFFFFF;
}

/* Table styles
----------------------------------------*/

 #phpbb table.table1 thead th {
	color: #FFFFFF;
}

 #phpbb table.table1 tbody tr {
	border-color: #BFC1CF;
}

 #phpbb table.table1 tbody tr:hover , #phpbb table.table1 tbody tr.hover {
	background-color: #CFE1F6;
	color: #000;
}

 #phpbb table.table1 td {
	color: #536482;
}

 #phpbb table.table1 tbody td {
	border-top-color: #FAFAFA;
}

 #phpbb table.table1 tbody th {
	border-bottom-color: #000000;
	color: #333333;
	background-color: #FFFFFF;
}

 #phpbb table.info tbody th {
	color: #000000;
}

/* Misc layout styles
---------------------------------------- */

 #phpbb dl.details dt {
	color: #000000;
}

 #phpbb dl.details dd {
	color: #536482;
}

 #phpbb .sep {
	color: #1198D9;
}

/* Pagination
---------------------------------------- */


 #phpbb .pagination li a {
	background-color: #ECEDEE;
	border-color: #B4BAC0;
	color: #5C758C;
}

 #phpbb .pagination li.ellipsis span {
	background-color: transparent;
	color:	#000000;
}

 #phpbb .pagination li.active span {
	background-color: #4692BF;
	border-color: #4692BF;
	color: #FFFFFF;
}

 #phpbb .pagination li a:hover , #phpbb .pagination .dropdown-visible a.dropdown-trigger , #phpbb .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	background-color: #368AD2;
	border-color: #368AD2;
	color: #FFFFFF;
}

 #phpbb .pagination li.next a , #phpbb .pagination li.previous a , #phpbb .pagination li.page-jump a {
	background-image: url("./images/icons_pagination.png");
}

/* Pagination in viewforum for multipage topics */

 #phpbb .row .pagination {
	background-image: url("./images/icon_pages.gif");
}

/* Miscellaneous styles
---------------------------------------- */


 #phpbb .copyright {
	color: #555555;
}

 #phpbb .error {
	color: #BC2A4D;
}

 #phpbb .reported {
	background-color: #F7ECEF;
}

 #phpbb li.reported:hover {
	background-color: #ECD5D8 !important;
}

 #phpbb .sticky , #phpbb .announce {
	/* you can add a background for stickies and announcements*/
}

 #phpbb div.rules {
	background-color: #ECD5D8;
	color: #BC2A4D;
}

 #phpbb p.post-notice {
	background-color: #ECD5D8;
	background-image: none;
}

 #phpbb p.post-notice.deleted:before {
	background-image: url("./images/icon_topic_deleted.png");
}

 #phpbb p.post-notice.unapproved:before {
	background-image: url("./images/icon_topic_unapproved.gif");
}

 #phpbb p.post-notice.reported:before , #phpbb p.post-notice.error:before {
	background-image: url("./images/icon_topic_reported.gif");
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */


 #phpbb a { color: #105289; }

 #phpbb a:hover { color: #D31141; }

/* Links on gradient backgrounds */

 #phpbb .forumbg .header a , #phpbb .forabg .header a , #phpbb th a {
	color: #FFFFFF;
}

 #phpbb .forumbg .header a:hover , #phpbb .forabg .header a:hover , #phpbb th a:hover {
	color: #A8D8FF;
}

/* Notification mark read link */

 #phpbb .dropdown-extended a.mark_read {
	background-color: #FFFFFF;
}

/* Post body links */

 #phpbb .postlink {
	border-bottom-color: #368AD2;
	color: #368AD2;
}

 #phpbb .postlink:visited {
	border-bottom-color: #5D8FBD;
	color: #5D8FBD;
}

 #phpbb .postlink:hover {
	background-color: #D0E4F6;
	color: #0D4473;
}

 #phpbb .signature a , #phpbb .signature a:hover {
	background-color: transparent;
}

/* Back to top of page */

 #phpbb a.top {
	background-image: url("./images/icon_back_top.gif");
}

 #phpbb a.top2 {
	background-image: url("./images/icon_back_top.gif");
}

/* Arrow links  */

 #phpbb a.arrow-up { background-image: url("./images/arrow_up.gif"); }

 #phpbb a.arrow-down { background-image: url("./images/arrow_down.gif"); }

 #phpbb a.arrow-left { background-image: url("./images/arrow_left.gif"); }

 #phpbb a.arrow-right { background-image: url("./images/arrow_right.gif"); }

 #phpbb a.arrow-up:hover {
	background-color: transparent;
}

 #phpbb a.arrow-left:hover {
	color: #368AD2;
}

 #phpbb a.arrow-right:hover {
	color: #368AD2;
}

/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */


 #phpbb ul.forums {
	background-color: #eef5f9;
	background-image: url("./images/gradient.gif");
}

 #phpbb ul.topiclist li {
	color: #4C5D77;
}

 #phpbb ul.topiclist dd {
	border-left-color: #FFFFFF;
}

 #phpbb .rtl ul.topiclist dd {
	border-right-color: #fff;
	border-left-color: transparent;
}

 #phpbb ul.topiclist li.row dt a.subforum.read {
	background-image: url("./images/subforum_read.gif");
}

 #phpbb ul.topiclist li.row dt a.subforum.unread {
	background-image: url("./images/subforum_unread.gif");
}

 #phpbb li.row {
	border-top-color:  #FFFFFF;
	border-bottom-color: #00608F;
}

 #phpbb li.row strong {
	color: #000000;
}

 #phpbb li.row:hover {
	background-color: #F6F4D0;
}

 #phpbb li.row:hover dd {
	border-left-color: #CCCCCC;
}

 #phpbb .rtl li.row:hover dd {
	border-right-color: #CCCCCC;
	border-left-color: transparent;
}

 #phpbb li.header dt , #phpbb li.header dd {
	color: #FFFFFF;
}

/* Post body styles
----------------------------------------*/

 #phpbb .postbody {
	color: #333333;
}

/* Content container styles
----------------------------------------*/

 #phpbb .content {
	color: #333333;
}

 #phpbb .content h2 , #phpbb .panel h2 {
	color: #115098;
	border-bottom-color:  #CCCCCC;
}

 #phpbb dl.faq dt {
	color: #333333;
}

 #phpbb .posthilit {
	background-color: #F3BFCC;
	color: #BC2A4D;
}

 #phpbb .announce , #phpbb .unreadpost {
	/* Highlight the announcements & unread posts box */
}

/* Post signature */

 #phpbb .signature {
	border-top-color: #CCCCCC;
}

/* Post noticies */

 #phpbb .notice {
	border-top-color:  #CCCCCC;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */

 #phpbb blockquote {
	background-color: #EBEADD;
	background-image: url("./images/quote.gif");
	border-color:#DBDBCE;
}

 #phpbb .rtl blockquote {
	background-image: url("./images/quote_rtl.gif");
}

 #phpbb blockquote blockquote {
	/* Nested quotes */
	background-color:#EFEED9;
}

 #phpbb blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #EBEADD;
}

/* Code block */

 #phpbb .codebox {
	background-color: #FFFFFF;
	border-color: #C9D2D8;
}

 #phpbb .codebox p {
	border-bottom-color:  #CCCCCC;
}

 #phpbb .codebox code {
	color: #2E8B57;
}

 #phpbb .syntaxbg { color: #FFFFFF; }

 #phpbb .syntaxcomment { color: #FF8000; }

 #phpbb .syntaxdefault { color: #0000BB; }

 #phpbb .syntaxhtml { color: #000000; }

 #phpbb .syntaxkeyword { color: #007700; }

 #phpbb .syntaxstring { color: #DD0000; }

/* Attachments
----------------------------------------*/

 #phpbb .attachbox {
	background-color: #FFFFFF;
	border-color:  #C9D2D8;
}

 #phpbb .pm-message .attachbox {
	background-color: #F2F3F3;
}

 #phpbb .attachbox dd {
	border-top-color: #C9D2D8;
}

 #phpbb .attachbox p {
	color: #666666;
}

 #phpbb .attachbox p.stats {
	color: #666666;
}

 #phpbb .attach-image img {
	border-color: #999999;
}

/* Inline image thumbnails */


 #phpbb dl.file dd {
	color: #666666;
}

 #phpbb dl.thumbnail img {
	border-color: #666666;
	background-color: #FFFFFF;
}

 #phpbb dl.thumbnail dd {
	color: #666666;
}

 #phpbb dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

 #phpbb dl.thumbnail dt a:hover img {
	border-color: #368AD2;
}

/* Post poll styles
----------------------------------------*/


 #phpbb fieldset.polls dl {
	border-top-color: #DCDEE2;
	color: #666666;
}

 #phpbb fieldset.polls dl.voted {
	color: #000000;
}

 #phpbb fieldset.polls dd div {
	color: #FFFFFF;
}

 #phpbb .rtl .pollbar1 , #phpbb .rtl .pollbar2 , #phpbb .rtl .pollbar3 , #phpbb .rtl .pollbar4 , #phpbb .rtl .pollbar5 {
	border-right-color: transparent;
}

 #phpbb .pollbar1 {
	background-color: #AA2346;
	border-bottom-color: #74162C;
	border-right-color: #74162C;
}

 #phpbb .rtl .pollbar1 {
	border-left-color: #74162C;
}

 #phpbb .pollbar2 {
	background-color: #BE1E4A;
	border-bottom-color: #8C1C38;
	border-right-color: #8C1C38;
}

 #phpbb .rtl .pollbar2 {
	border-left-color: #8C1C38;
}

 #phpbb .pollbar3 {
	background-color: #D11A4E;
	border-bottom-color: #AA2346;
	border-right-color: #AA2346;
}

 #phpbb .rtl .pollbar3 {
	border-left-color: #AA2346;
}

 #phpbb .pollbar4 {
	background-color: #E41653;
	border-bottom-color: #BE1E4A;
	border-right-color: #BE1E4A;
}

 #phpbb .rtl .pollbar4 {
	border-left-color: #BE1E4A;
}

 #phpbb .pollbar5 {
	background-color: #F81157;
	border-bottom-color: #D11A4E;
	border-right-color: #D11A4E;
}

 #phpbb .rtl .pollbar5 {
	border-left-color: #D11A4E;
}

/* Poster profile block
----------------------------------------*/

 #phpbb .postprofile {
	color: #666666;
	border-color: #FFFFFF;
}

 #phpbb .pm .postprofile {
	border-color: #DDDDDD;
}

 #phpbb .postprofile strong {
	color: #000000;
}

 #phpbb .online {
	background-image: url("./en/icon_user_online.gif");
}

 #phpbb dd.profile-warnings {
	color: #BC2A4D;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */

 #phpbb .button {
	border-color: #C7C3BF;
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(top, #FFFFFF, #E9E9E9);
	background-image: -webkit-linear-gradient(top, #FFFFFF, #E9E9E9);
	background-image: -o-linear-gradient(top, #FFFFFF, #E9E9E9);
	background-image: linear-gradient(to bottom, #FFFFFF, #E9E9E9);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#E9E9E9')";
	box-shadow: 0 0 0 1px #FFFFFF inset;
	-webkit-box-shadow: 0 0 0 1px #FFFFFF inset;
	color: #D31141;
}

 #phpbb .dropdown-select {
	color: #536482;
}

 #phpbb .button:hover , #phpbb .dropdown-visible .dropdown-select , #phpbb .nojs .dropdown-container:hover .dropdown-select {
	border-color: #0a8ed0;
	background-image: -moz-linear-gradient(top, #E9E9E9, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #E9E9E9, #FFFFFF);
	background-image: -o-linear-gradient(top, #E9E9E9, #FFFFFF);
	background-image: linear-gradient(to bottom, #E9E9E9, #FFFFFF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#E9E9E9', EndColorStr='#FFFFFF')";
	text-shadow: 1px 1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, -1px -1px 0 rgba(188, 42, 77, 0.2);
}

 #phpbb .dropdown-select:after { border-color: #DADADA; }

 #phpbb .dropdown-select:hover { border-color: #C7C3BF; }

 #phpbb .dropdown-visible .dropdown-select , #phpbb .dropdown-visible .dropdown-select:hover , #phpbb .nojs .dropdown-container:hover .dropdown-select {
	border-color: #A6B2BA;
	color: #105289;
}

 #phpbb .contact-icons a { border-color: #DCDCDC; }

 #phpbb .contact-icons a:hover { background-color: #F2F6F9; }

/* Icon images
---------------------------------------- */

 #phpbb .icon-acp { background-image: url("./images/icon_acp.gif"); }

 #phpbb .icon-bookmark { background-image: url("./images/icon_bookmark.gif"); }

 #phpbb .icon-bump { background-image: url("./images/icon_bump.gif"); }

 #phpbb .icon-contact { background-image: url("./images/icon_pm.gif"); }

 #phpbb .icon-delete-cookies { background-image: url("./images/icon_delete_cookies.gif"); }

 #phpbb .icon-download { background-image: url("./images/icon_download.gif"); }

 #phpbb .icon-faq { background-image: url("./images/icon_faq.gif"); }

 #phpbb .icon-home { background-image: url("./images/icon_home.gif"); }

 #phpbb .icon-logout { background-image: url("./images/icon_logout.gif"); }

 #phpbb .icon-mark { background-image: url("./images/icon_mark.gif"); }

 #phpbb .icon-mcp { background-image: url("./images/icon_mcp.gif"); }

 #phpbb .icon-members { background-image: url("./images/icon_members.gif"); }

 #phpbb .icon-notification { background-image: url("./images/icon_notification.gif"); }

 #phpbb .icon-pages { background-image: url("./images/icon_pages.gif"); }

 #phpbb .icon-pm { background-image: url("./images/icon_pm.gif"); }

 #phpbb .icon-print { background-image: url("./images/icon_print.gif"); }

 #phpbb .icon-profile { background-image: url("./images/icon_profile.gif"); }

 #phpbb .icon-register { background-image: url("./images/icon_register.gif"); }

 #phpbb .icon-search , #phpbb .responsive-search a { background-image: url("./images/icon_search.gif"); }

 #phpbb .icon-search-active { background-image: url("./images/subforum_read.gif"); }

 #phpbb .icon-search-new { background-image: url("./images/subforum_unread.gif"); }

 #phpbb .icon-search-self { background-image: url("./images/icon_topic_latest.gif"); }

 #phpbb .icon-search-unanswered { background-image: url("./images/icon_post_target.gif"); }

 #phpbb .icon-search-unread { background-image: url("./images/subforum_unread.gif"); }

 #phpbb .icon-sendemail { background-image: url("./images/icon_sendemail.gif"); }

 #phpbb .icon-subscribe { background-image: url("./images/icon_subscribe.gif"); }

 #phpbb .icon-team { background-image: url("./images/icon_team.gif"); }

 #phpbb .icon-ucp { background-image: url("./images/icon_ucp.gif"); }

 #phpbb .icon-unsubscribe { background-image: url("./images/icon_unsubscribe.gif"); }

/* Profile & navigation icons */

 #phpbb .contact-icon { background-image: url("./images/icons_contact.png"); }

 #phpbb .icon-button:before , #phpbb .dropdown-select:after { background-image: url("./images/icons_button.png"); }

/* Forum icons & Topic icons */

 #phpbb .global_read { background-image: url("./images/announce_read.gif"); }

 #phpbb .global_read_mine { background-image: url("./images/announce_read_mine.gif"); }

 #phpbb .global_read_locked { background-image: url("./images/announce_read_locked.gif"); }

 #phpbb .global_read_locked_mine { background-image: url("./images/announce_read_locked_mine.gif"); }

 #phpbb .global_unread { background-image: url("./images/announce_unread.gif"); }

 #phpbb .global_unread_mine { background-image: url("./images/announce_unread_mine.gif"); }

 #phpbb .global_unread_locked { background-image: url("./images/announce_unread_locked.gif"); }

 #phpbb .global_unread_locked_mine { background-image: url("./images/announce_unread_locked_mine.gif"); }

 #phpbb .announce_read { background-image: url("./images/announce_read.gif"); }

 #phpbb .announce_read_mine { background-image: url("./images/announce_read_mine.gif"); }

 #phpbb .announce_read_locked { background-image: url("./images/announce_read_locked.gif"); }

 #phpbb .announce_read_locked_mine { background-image: url("./images/announce_read_locked_mine.gif"); }

 #phpbb .announce_unread { background-image: url("./images/announce_unread.gif"); }

 #phpbb .announce_unread_mine { background-image: url("./images/announce_unread_mine.gif"); }

 #phpbb .announce_unread_locked { background-image: url("./images/announce_unread_locked.gif"); }

 #phpbb .announce_unread_locked_mine { background-image: url("./images/announce_unread_locked_mine.gif"); }

 #phpbb .forum_link { background-image: url("./images/forum_link.gif"); }

 #phpbb .forum_read { background-image: url("./images/forum_read.gif"); }

 #phpbb .forum_read_locked { background-image: url("./images/forum_read_locked.gif"); }

 #phpbb .forum_read_subforum { background-image: url("./images/forum_read_subforum.gif"); }

 #phpbb .forum_unread { background-image: url("./images/forum_unread.gif"); }

 #phpbb .forum_unread_locked { background-image: url("./images/forum_unread_locked.gif"); }

 #phpbb .forum_unread_subforum { background-image: url("./images/forum_unread_subforum.gif"); }

 #phpbb .sticky_read { background-image: url("./images/sticky_read.gif"); }

 #phpbb .sticky_read_mine { background-image: url("./images/sticky_read_mine.gif"); }

 #phpbb .sticky_read_locked { background-image: url("./images/sticky_read_locked.gif"); }

 #phpbb .sticky_read_locked_mine { background-image: url("./images/sticky_read_locked_mine.gif"); }

 #phpbb .sticky_unread { background-image: url("./images/sticky_unread.gif"); }

 #phpbb .sticky_unread_mine { background-image: url("./images/sticky_unread_mine.gif"); }

 #phpbb .sticky_unread_locked { background-image: url("./images/sticky_unread_locked.gif"); }

 #phpbb .sticky_unread_locked_mine { background-image: url("./images/sticky_unread_locked_mine.gif"); }

 #phpbb .topic_moved { background-image: url("./images/topic_moved.gif"); }

 #phpbb .topic_read { background-image: url("./images/topic_read.gif"); }

 #phpbb .topic_read_mine { background-image: url("./images/topic_read_mine.gif"); }

 #phpbb .topic_read_hot { background-image: url("./images/topic_read_hot.gif"); }

 #phpbb .topic_read_hot_mine { background-image: url("./images/topic_read_hot_mine.gif"); }

 #phpbb .topic_read_locked { background-image: url("./images/topic_read_locked.gif"); }

 #phpbb .topic_read_locked_mine { background-image: url("./images/topic_read_locked_mine.gif"); }

 #phpbb .topic_unread { background-image: url("./images/topic_unread.gif"); }

 #phpbb .topic_unread_mine { background-image: url("./images/topic_unread_mine.gif"); }

 #phpbb .topic_unread_hot { background-image: url("./images/topic_unread_hot.gif"); }

 #phpbb .topic_unread_hot_mine { background-image: url("./images/topic_unread_hot_mine.gif"); }

 #phpbb .topic_unread_locked { background-image: url("./images/topic_unread_locked.gif"); }

 #phpbb .topic_unread_locked_mine { background-image: url("./images/topic_unread_locked_mine.gif"); }

 #phpbb .pm_read { background-image: url("./images/topic_read.gif"); }

 #phpbb .pm_unread { background-image: url("./images/topic_unread.gif"); }

/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/


 #phpbb .panel-container h3 , #phpbb .panel-container hr , #phpbb #cp-menu hr {
	border-color: #A4B3BF;
}

 #phpbb .panel-container .panel li.row {
	border-bottom-color: #B5C1CB;
	border-top-color: #F9F9F9;
}

 #phpbb ul.cplist {
	border-top-color: #B5C1CB;
}

 #phpbb .panel-container .panel li.header dd , #phpbb .panel-container .panel li.header dt {
	color: #000000;
}

 #phpbb .panel-container table.table1 thead th {
	color: #333333;
	border-bottom-color: #333333;
}

 #phpbb #cp-main .pm-message {
	border-color: #DBDEE2;
	background-color: #FFFFFF;
}

/* CP tabbed menu
----------------------------------------*/

 #phpbb #tabs .tab > a {
	background: #BACCD9;
	color: #536482;
}

 #phpbb #tabs .tab > a:hover {
	background: #DDEDFB;
	color: #D31141;
}

 #phpbb #tabs .activetab > a , #phpbb #tabs .activetab > a:hover {
	background: #CADCEB;
	background: -moz-linear-gradient(top, #E2F2FF 0%, #CADCEB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E2F2FF), color-stop(100%, #CADCEB));
	background: -webkit-linear-gradient(top, #E2F2FF 0%, #CADCEB 100%);
	background: -o-linear-gradient(top, #E2F2FF 0%, #CADCEB 100%);
	background: -ms-linear-gradient(top, #E2F2FF 0%, #CADCEB 100%);
	background: linear-gradient(to bottom, #E2F2FF 0%, #CADCEB 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E2F2FF', endColorstr='#CADCEB', GradientType=0 );
	border-color: #CADCEB;
	box-shadow: 0 1px 1px #F2F9FF inset;
	color: #333333;
}

 #phpbb #tabs .activetab > a:hover {
	color: #000000;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/

 #phpbb #minitabs .tab > a {
	background-color: #E1EBF2;
}

 #phpbb #minitabs .activetab > a , #phpbb #minitabs .activetab > a:hover {
	background-color: #F9F9F9;
	color: #333333;
}

/* Responsive tabs
----------------------------------------*/

 #phpbb .responsive-tab .responsive-tab-link:before {
	border-color: #536482;
}

 #phpbb .responsive-tab .responsive-tab-link:hover:before {
	border-color: #D31141;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */

 #phpbb #navigation a {
	color: #333;
	background: #B4C4D1;
	background: -moz-linear-gradient(left, #B4C4D1 50%, #CADCEB 100%);
	background: -webkit-gradient(left top, right top, color-stop(50%, #B4C4D1), color-stop(100%, #CADCEB));
	background: -webkit-linear-gradient(left, #B4C4D1 50%, #CADCEB 100%);
	background: -o-linear-gradient(left, #B4C4D1 50%, #CADCEB 100%);
	background: -ms-linear-gradient(left, #B4C4D1 50%, #CADCEB 100%);
	background: linear-gradient(to right, #B4C4D1 50%, #CADCEB 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B4C4D1', endColorstr='#CADCEB', GradientType=1 );
}

 #phpbb .rtl #navigation a {
	background: #B4C4D1;
	background: -moz-linear-gradient(left, #CADCEB 0%, #B4C4D1 50%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #CADCEB), color-stop(50%, #B4C4D1));
	background: -webkit-linear-gradient(left, #CADCEB 0%, #B4C4D1 50%);
	background: -o-linear-gradient(left, #CADCEB 0%, #B4C4D1 50%);
	background: -ms-linear-gradient(left, #CADCEB 0%, #B4C4D1 50%);
	background: linear-gradient(to right, #CADCEB 0%, #B4C4D1 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CADCEB', endColorstr='#B4C4D1', GradientType=1 );
}

 #phpbb #navigation a:hover {
	background: #AABAC6;
	color: #BC2A4D;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

 #phpbb #navigation #active-subsection a {
	background: #F9F9F9;
	color: #D31141;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

 #phpbb #navigation #active-subsection a:hover {
	color: #D31141;
}

 #phpbb @media only screen and(max-width:900px) , #phpbb only screen and(max-device-width:900px) {
	#navigation a, .rtl #navigation a {
		background: #B2C2CF;
	}

/* Preferences pane layout
----------------------------------------*/

 #phpbb }.panel-container h2 {
	color: #333333;
}

 #phpbb .panel-container .panel {
	background-color: #F9F9F9;
}

 #phpbb #cp-main .pm {
	background-color: #FFFFFF;
}

/* Friends list */

 #phpbb .cp-mini {
	background-color: #eef5f9;
}

 #phpbb dl.mini dt {
	color: #425067;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */

 #phpbb .current {
	color: #000000 !important;
}

/* PM marking colours */

 #phpbb .pmlist li.pm_message_reported_colour , #phpbb .pm_message_reported_colour {
	border-left-color: #BC2A4D;
	border-right-color: #BC2A4D;
}

 #phpbb .pmlist li.pm_marked_colour , #phpbb .pm_marked_colour {
	border-color: #FF6600;
}

 #phpbb .pmlist li.pm_replied_colour , #phpbb .pm_replied_colour {
	border-color: #A9B8C2;
}

 #phpbb .pmlist li.pm_friend_colour , #phpbb .pm_friend_colour {
	border-color: #5D8FBD;
}

 #phpbb .pmlist li.pm_foe_colour , #phpbb .pm_foe_colour {
	border-color: #000000;
}

/* Avatar gallery */

 #phpbb #gallery label {
	background: #FFFFFF;
	border-color: #CCC;
}

 #phpbb #gallery label:hover {
	background-color: #EEE;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/

 #phpbb select {
	border-color: #666666;
	background-color: #FAFAFA;
	color: #000;
}

 #phpbb label {
	color: #425067;
}

 #phpbb option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */

 #phpbb dd label {
	color: #333;
}

 #phpbb fieldset.fields1 {
	background-color: transparent;
}

/* Hover effects */

 #phpbb fieldset dl:hover dt label {
	color: #000000;
}

 #phpbb fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */

 #phpbb fieldset.quick-login input.inputbox {
	background-color: #F2F3F3;
}

/* Posting page styles
----------------------------------------*/


 #phpbb #message-box textarea {
	color: #333333;
}

 #phpbb #message-box textarea.drag-n-drop {
	outline-color: rgba(102, 102, 102, 0.5);
}

 #phpbb #message-box textarea.drag-n-drop-highlight {
	outline-color: rgba(17, 163, 234, 0.5);
}

/* Input field styles
---------------------------------------- */

 #phpbb .inputbox {
	background-color: #FFFFFF;
	border-color: #B4BAC0;
	color: #333333;
}

 #phpbb .inputbox:-moz-placeholder {
	color: #333333;
}

 #phpbb .inputbox::-webkit-input-placeholder {
	color: #333333;
}

 #phpbb .inputbox:hover {
	border-color: #11A3EA;
}

 #phpbb .inputbox:focus {
	border-color: #11A3EA;
	color: #0F4987;
}

 #phpbb .inputbox:focus:-moz-placeholder {
	color: transparent;
}

 #phpbb .inputbox:focus::-webkit-input-placeholder {
	color: transparent;
}

/* Form button styles
---------------------------------------- */


 #phpbb a.button1 , #phpbb input.button1 , #phpbb input.button3 , #phpbb a.button2 , #phpbb input.button2 {
	color: #000;
	background-color: #FAFAFA;
	background-image: url("./images/bg_button.gif");
}

 #phpbb a.button1 , #phpbb input.button1 {
	border-color: #666666;
}

 #phpbb input.button3 {
	background-image: none;
}

/* Alternative button */

 #phpbb a.button2 , #phpbb input.button2 , #phpbb input.button3 {
	border-color: #666666;
}

/* <a> button in the style of the form buttons */

 #phpbb a.button1 , #phpbb a.button2 {
	color: #000000;
}

/* Hover states */

 #phpbb a.button1:hover , #phpbb input.button1:hover , #phpbb a.button2:hover , #phpbb input.button2:hover , #phpbb input.button3:hover {
	border-color: #BC2A4D;
	color: #BC2A4D;
}

/* Focus states */

 #phpbb input.button1:focus , #phpbb input.button2:focus , #phpbb input.button3:focus {
	border-color: #11A3EA;
	color: #0F4987;
}

 #phpbb input.search {
	background-image: url("./images/icon_textbox_search.gif");
}

 #phpbb input.disabled {
	color: #666666;
}

/* jQuery popups
---------------------------------------- */

 #phpbb .phpbb_alert {
	background-color: #FFFFFF;
	border-color: #999999;
}

 #phpbb .phpbb_alert .alert_close {
	background-image: url("./images/alert_close.png");
}

 #phpbb #darken {
	background-color: #000000;
}

 #phpbb #loading_indicator {
	background-color: #000000;
	background-image: url("./images/loading.gif");
}

 #phpbb .dropdown-extended ul li {
	border-top-color: #B9B9B9;
}

 #phpbb .dropdown-extended ul li:hover {
	background-color: #CFE1F6;
	color: #000000;
}

 #phpbb .dropdown-extended .header , #phpbb .dropdown-extended .footer {
	border-color: #B9B9B9;
	color: #000000;
}

 #phpbb .dropdown-extended .footer {
	border-top-style: solid;
	border-top-width: 1px;
}

 #phpbb .dropdown-extended .header {
	background: #F1F8FF;
	background: -moz-linear-gradient(top, #F1F8FF 0%, #CADCEB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F1F8FF), color-stop(100%, #CADCEB));
	background: -webkit-linear-gradient(top, #F1F8FF 0%, #CADCEB 100%);
	background: -o-linear-gradient(top, #F1F8FF 0%, #CADCEB 100%);
	background: -ms-linear-gradient(top, #F1F8FF 0%, #CADCEB 100%);
	background: linear-gradient(to bottom, #F1F8FF 0%, #CADCEB 100%);
}

 #phpbb .dropdown .pointer {
	border-color: #B9B9B9 transparent;
}

 #phpbb .dropdown .pointer-inner {
	border-color: #FFF transparent;
}

 #phpbb .dropdown-extended .pointer-inner {
	border-color: #F1F8FF transparent;
}

 #phpbb ul.linklist li.responsive-menu a.responsive-menu-link:before {
	border-color: #105289;
}

 #phpbb ul.linklist li.responsive-menu a.responsive-menu-link:hover:before , #phpbb ul.linklist li.responsive-menu.visible a.responsive-menu-link:before {
	border-color: #D31141;
}

 #phpbb .dropdown .dropdown-contents {
	background: #fff;
	border-color: #b9b9b9;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

 #phpbb .dropdown-up .dropdown-contents {
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

 #phpbb .dropdown li , #phpbb .dropdown li li {
	border-color: #DCDCDC;
}

 #phpbb .dropdown li.separator {
	border-color: #DCDCDC;
}

/* Notifications
---------------------------------------- */


 #phpbb .notification_list p.notification-time {
	color: #4C5D77;
}

 #phpbb li.notification-reported strong , #phpbb li.notification-disapproved strong {
	color: #D31141;
}


