
/* Control Panel Styles
---------------------------------------- */


/* Main CP box
----------------------------------------*/

 #phpbb #cp-menu {
	float:left;
	width: 19%;
	margin-top: 1em;
	margin-bottom: 5px;
}

 #phpbb #cp-main {
	float: left;
	width: 81%;
}

 #phpbb #cp-main .content {
	padding: 0;
}

 #phpbb .panel-container .panel p {
	font-size: 1.1em;
}

 #phpbb .panel-container .panel ol {
	margin-left: 2em;
	font-size: 1.1em;
}

 #phpbb .panel-container .panel li.row {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
}

 #phpbb ul.cplist {
	margin-bottom: 5px;
	border-top: 1px solid transparent;
}

 #phpbb .panel-container .panel li.header dd , #phpbb .panel-container .panel li.header dt {
	margin-bottom: 2px;
}

 #phpbb .panel-container table.table1 {
	margin-bottom: 1em;
}

 #phpbb .panel-container table.table1 thead th {
	font-weight: bold;
	border-bottom: 1px solid transparent;
	padding: 5px;
}

 #phpbb .panel-container table.table1 tbody th {
	font-style: italic;
	background-color: transparent !important;
	border-bottom: none;
}

 #phpbb #cp-main .pm-message {
	border: 1px solid transparent;
	margin: 10px 0;
	width: auto;
	float: none;
}

 #phpbb .pm-message h2 {
	padding-bottom: 5px;
}

 #phpbb #cp-main .postbody h3 , #phpbb #cp-main .box2 h3 {
	margin-top: 0;
}

 #phpbb .panel-container .postbody p.author {
	font-size: 1.1em;
}

 #phpbb #cp-main .buttons {
	margin-left: 0;
}

 #phpbb #cp-main ul.linklist {
	margin: 0;
}

/* MCP Specific tweaks */

 #phpbb .mcp-main .postbody {
	width: 100%;
}

 #phpbb .tabs-container h2 {
	float: left;
	margin-bottom: 0px;
}

/* CP tabs shared
----------------------------------------*/

 #phpbb #tabs , #phpbb #minitabs {
	line-height: normal;
}

 #phpbb #tabs > ul , #phpbb #minitabs > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

 #phpbb #tabs .tab , #phpbb #minitabs .tab {
	display: block;
	float: left;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.4em;
}

 #phpbb #tabs .tab > a , #phpbb #minitabs .tab > a {
	display: block;
	padding: 5px 9px;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
}

/* CP tabbed menu
----------------------------------------*/

 #phpbb #tabs {
	margin: 20px 0 0 7px;
}

 #phpbb #tabs .tab > a {
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	margin: 1px 1px 0 0;
}

 #phpbb #tabs .activetab > a {
	margin-top: 0;
	padding-bottom: 7px;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/

 #phpbb #minitabs {
	float: right;
	margin: 15px 7px 0 0;
	max-width: 50%;
}

 #phpbb #minitabs .tab {
	float: right;
}

 #phpbb #minitabs .tab > a {
	border-radius: 5px 5px 0 0;
	margin-left: 2px;
}

 #phpbb #minitabs .tab > a:hover {
	text-decoration: none;
}

/* Responsive tabs
----------------------------------------*/

 #phpbb .responsive-tab {
	position: relative;
}

 #phpbb .responsive-tab > a.responsive-tab-link {
	display: block;
	font-size: 1.6em;
	position: relative;
	width: 16px;
	line-height: 0.9em;
	text-decoration: none;
}

 #phpbb .responsive-tab .responsive-tab-link:before {
	content: '';
	position: absolute;
	left: 10px;
	top: 7px;
	height: .125em;
	width: 14px;
	border-bottom: 0.125em solid transparent;
	border-top: 0.375em double transparent;
}

 #phpbb #tabs .dropdown , #phpbb #minitabs .dropdown {
	top: 20px;
	margin-right: -2px;
	font-size: 1.1em;
	font-weight: normal;
}

 #phpbb #minitabs .dropdown {
	margin-right: -4px;
}

 #phpbb #tabs .dropdown-up .dropdown , #phpbb #minitabs .dropdown-up .dropdown {
	bottom: 20px;
	top: auto;
}

 #phpbb #tabs .dropdown li {
	text-align: right;
}

 #phpbb #minitabs .dropdown li {
	text-align: left;
}

/* UCP navigation menu
----------------------------------------*/
/* Container for sub-navigation list */

 #phpbb #navigation {
	width: 100%;
	padding-top: 36px;
}

 #phpbb #navigation ul {
	list-style: none;
}

/* Default list state */

 #phpbb #navigation li {
	display: inline;
	font-weight: bold;
	margin: 1px 0;
	padding: 0;
}

/* Link styles for the sub-section links */

 #phpbb #navigation a {
	display: block;
	padding: 5px;
	margin: 1px 0;
	text-decoration: none;
}

 #phpbb #navigation a:hover {
	text-decoration: none;
}

/* Preferences pane layout
----------------------------------------*/

 #phpbb #cp-main h2 {
	border-bottom: none;
	padding: 0;
	margin-left: 10px;
}

/* Friends list */

 #phpbb .cp-mini {
	margin: 10px 15px 10px 5px;
	max-height: 200px;
	overflow-y: auto;
	padding: 5px 10px;
	border-radius: 7px;
}

 #phpbb dl.mini dt {
	font-weight: bold;
}

 #phpbb dl.mini dd {
	padding-top: 4px;
}

 #phpbb .friend-online {
	font-weight: bold;
}

 #phpbb .friend-offline {
	font-style: italic;
}

/* PM Styles
----------------------------------------*/

 #phpbb #pm-menu {
	line-height: 2.5em;
}

/* Defined rules list for PM options */

 #phpbb ol.def-rules {
	padding-left: 0;
}

 #phpbb ol.def-rules li {
	line-height: 180%;
	padding: 1px;
}

/* PM marking colours */

 #phpbb .pmlist li.bg1 {
	padding: 0 3px;
}

 #phpbb .pmlist li.bg2 {
	padding: 0 3px;
}

 #phpbb .pmlist li.pm_message_reported_colour , #phpbb .pm_message_reported_colour {
	border-left-color: transparent;
	border-right-color: transparent;
}

 #phpbb .pmlist li.pm_marked_colour , #phpbb .pm_marked_colour , #phpbb .pmlist li.pm_replied_colour , #phpbb .pm_replied_colour , #phpbb .pmlist li.pm_friend_colour , #phpbb .pm_friend_colour , #phpbb .pmlist li.pm_foe_colour , #phpbb .pm_foe_colour {
	padding: 0;
	border: solid 3px transparent;
	border-width: 0 3px;
}

 #phpbb .pm-legend {
	border-left-width: 10px;
	border-left-style: solid;
	border-right-width: 0;
	margin-bottom: 3px;
	padding-left: 3px;
}

/* Avatar gallery */

 #phpbb #gallery label {
	position: relative;
	float: left;
	margin: 10px;
	padding: 5px;
	width: auto;
	border: 1px solid transparent;
	text-align: center;
}

/* Responsive *CP navigation
----------------------------------------*/

 #phpbb @media only screen and(max-width:900px) , #phpbb only screen and(max-device-width:900px) {
	.nojs #tabs a span, .nojs #minitabs a span {
		max-width: 40px;
		overflow: hidden;
		text-overflow: ellipsis;
		letter-spacing: -.5px;
	}

 #phpbb #cp-menu , #phpbb #navigation , #phpbb #cp-main {
		float: none;
		width: auto;
		margin: 0;
	}

 #phpbb #navigation {
		padding: 0;
		margin: 0 auto;
		max-width: 320px;
	}

 #phpbb #navigation a {
		background-image: none;
	}

 #phpbb #navigation li:first-child a {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

 #phpbb #navigation li:last-child a {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}


}
