
/* Form Styles
---------------------------------------- */

/* General form styles
----------------------------------------*/

 #phpbb fieldset {
	border-width: 0;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.1em;
}

 #phpbb input {
	font-weight: normal;
	vertical-align: middle;
	padding: 0 3px;
	font-size: 1em;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

 #phpbb select {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: normal;
	cursor: pointer;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: 1px;
	font-size: 1em;
}

 #phpbb select:focus {
	outline-style: none;
}

 #phpbb option {
	padding-right: 1em;
}

 #phpbb select optgroup option {
	padding-right: 1em;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

 #phpbb textarea {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	width: 60%;
	padding: 2px;
	font-size: 1em;
	line-height: 1.4em;
}

 #phpbb label {
	cursor: default;
	padding-right: 5px;
}

 #phpbb label input {
	vertical-align: middle;
}

 #phpbb label img {
	vertical-align: middle;
}

/* Definition list layout for forms
---------------------------------------- */

 #phpbb fieldset dl {
	padding: 4px 0;
}

 #phpbb fieldset dt {
	float: left;
	width: 40%;
	text-align: left;
	display: block;
}

 #phpbb fieldset dd {
	margin-left: 41%;
	vertical-align: top;
	margin-bottom: 3px;
}

/* Specific layout 1 */

 #phpbb fieldset.fields1 dt {
	width: 15em;
	border-right-width: 0;
}

 #phpbb fieldset.fields1 dd {
	margin-left: 15em;
	border-left-width: 0;
}

 #phpbb fieldset.fields1 div {
	margin-bottom: 3px;
}

/* Set it back to 0px for the reCaptcha divs: PHPBB3-9587 */

 #phpbb fieldset.fields1 #recaptcha_widget_div div , #phpbb fieldset.fields1 .live-search div {
	margin-bottom: 0;
}

/* Specific layout 2 */

 #phpbb fieldset.fields2 dt {
	width: 15em;
	border-right-width: 0;
}

 #phpbb fieldset.fields2 dd {
	margin-left: 16em;
	border-left-width: 0;
}

/* Form elements */

 #phpbb dt label {
	font-weight: bold;
	text-align: left;
}

 #phpbb dd label {
	white-space: nowrap;
}

 #phpbb dd input , #phpbb dd textarea {
	margin-right: 3px;
}

 #phpbb dd select {
	width: auto;
}

 #phpbb dd select[multiple]  {
	width: 100%;
}

 #phpbb dd textarea {
	width: 85%;
}

/* Hover effects */

 #phpbb #timezone {
	width: 95%;
}

/* Quick-login on index page */

 #phpbb fieldset.quick-login {
	margin-top: 5px;
}

 #phpbb fieldset.quick-login input {
	width: auto;
}

 #phpbb fieldset.quick-login input.inputbox {
	width: 15%;
	vertical-align: middle;
	margin-right: 5px;
}

 #phpbb fieldset.quick-login label {
	white-space: nowrap;
	padding-right: 2px;
}

/* Display options on viewtopic/viewforum pages  */

 #phpbb fieldset.display-options {
	text-align: center;
	margin: 3px 0 5px 0;
}

 #phpbb fieldset.display-options label {
	white-space: nowrap;
	padding-right: 2px;
}

 #phpbb fieldset.display-options a {
	margin-top: 3px;
}

/* Display actions for ucp and mcp pages */

 #phpbb fieldset.display-actions {
	text-align: right;
	line-height: 2em;
	white-space: nowrap;
	padding-right: 1em;
}

 #phpbb fieldset.display-actions label {
	white-space: nowrap;
	padding-right: 2px;
}

 #phpbb fieldset.sort-options {
	line-height: 2em;
}

/* MCP forum selection*/

 #phpbb fieldset.forum-selection {
	margin: 5px 0 3px 0;
	float: right;
}

 #phpbb fieldset.forum-selection2 {
	margin: 13px 0 3px 0;
	float: right;
}

/* Submit button fieldset */

 #phpbb fieldset.submit-buttons {
	text-align: center;
	vertical-align: middle;
	margin: 5px 0;
}

 #phpbb fieldset.submit-buttons input {
	vertical-align: middle;
	padding-top: 3px;
	padding-bottom: 3px;
}

/* Posting page styles
----------------------------------------*/

/* Buttons used in the editor */

 #phpbb #format-buttons {
	margin: 15px 0 2px 0;
}

 #phpbb #format-buttons input , #phpbb #format-buttons select {
	vertical-align: middle;
}

/* Main message box */

 #phpbb #message-box {
	width: 80%;
}

 #phpbb #message-box textarea {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	width: 450px;
	height: 270px;
	min-width: 100%;
	max-width: 100%;
	font-size: 1.2em;
	resize: vertical;
	outline: 3px dashed transparent;
	outline-offset: -4px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

/* Emoticons panel */

 #phpbb #smiley-box {
	width: 18%;
	float: right;
}

 #phpbb #smiley-box img {
	margin: 3px;
}

/* Input field styles
---------------------------------------- */

 #phpbb .inputbox {
	border: 1px solid transparent;
	padding: 2px;
}

 #phpbb .inputbox:hover , #phpbb .inputbox:focus {
	border: 1px solid transparent;
	outline-style: none;
}

 #phpbb input.inputbox { width: 85%; }

 #phpbb input.medium { width: 50%; }

 #phpbb input.narrow { width: 25%; }

 #phpbb input.tiny { width: 150px; }

 #phpbb textarea.inputbox {
	width: 85%;
}

 #phpbb .autowidth {
	width: auto !important;
}

 #phpbb input[type="number"]  {
	-moz-padding-end: inherit;
}

 #phpbb input[type="search"]  {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
}

 #phpbb input[type="search"]::-webkit-search-decoration , #phpbb input[type="search"]::-webkit-search-results-button , #phpbb input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

 #phpbb input[type="search"]::-webkit-search-cancel-button {
	cursor: pointer;
}

/* Form button styles
---------------------------------------- */

 #phpbb input.button1 , #phpbb input.button2 {
	font-size: 1em;
}

 #phpbb a.button1 , #phpbb input.button1 , #phpbb input.button3 , #phpbb a.button2 , #phpbb input.button2 {
	width: auto !important;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	background: transparent none repeat-x top left;
}

 #phpbb a.button1 , #phpbb input.button1 {
	font-weight: bold;
	border: 1px solid transparent;
}

 #phpbb input.button3 {
	padding: 0;
	margin: 0;
	line-height: 5px;
	height: 12px;
	background-image: none;
	font-variant: small-caps;
}

 #phpbb input[type="button"] , #phpbb input[type="submit"] , #phpbb input[type="reset"] , #phpbb input[type="checkbox"] , #phpbb input[type="radio"]  {
	cursor: pointer;
}

/* Alternative button */

 #phpbb a.button2 , #phpbb input.button2 , #phpbb input.button3 {
	border: 1px solid transparent;
}

/* <a> button in the style of the form buttons */

 #phpbb a.button1 , #phpbb a.button1:link , #phpbb a.button1:visited , #phpbb a.button1:active , #phpbb a.button2 , #phpbb a.button2:link , #phpbb a.button2:visited , #phpbb a.button2:active {
	text-decoration: none;
	padding: 2px 8px;
	line-height: 250%;
	vertical-align: text-bottom;
	background-position: 0 1px;
}

/* Hover states */

 #phpbb a.button1:hover , #phpbb input.button1:hover , #phpbb a.button2:hover , #phpbb input.button2:hover , #phpbb input.button3:hover {
	border: 1px solid transparent;
	background-position: 0 100%;
}

 #phpbb input.disabled {
	font-weight: normal;
}

/* Focus states */

 #phpbb input.button1:focus , #phpbb input.button2:focus , #phpbb input.button3:focus {
	outline-style: none;
}

/* Topic and forum Search */

 #phpbb .search-box {
	float: left;
}

 #phpbb .search-box .inputbox {
	background-image: none;
	border-right-width: 0;
	border-radius: 4px 0 0 4px;
	float: left;
	height: 24px;
	padding: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

 #phpbb .search-box button {
	float: left;
	width: auto;
}

 #phpbb .search-box button.search-icon {
	border-radius: 0;
	font-size: 0;
	height: 24px;
	margin: 0;
	padding: 3px 5px;
}

 #phpbb .search-box a.button {
	border-left-width: 0;
	border-radius: 0 4px 4px 0;
	font-size: 0;
	margin: 0;
	padding: 2px 5px 2px 3px;
	width: auto;
}

/* Search box (header)
--------------------------------------------- */

 #phpbb .search-header {
	border-radius: 4px;
	display: block;
	float: right;
	margin-right: 5px;
	margin-top: 30px;
}

 #phpbb .search-header .inputbox { border: 0; }

 #phpbb .search-header button {
	border-top: 0;
	border-bottom: 0;
}

 #phpbb .search-header a.button {
	border: 0;
	border-left: 1px;
	padding: 3px 5px 3px 4px;
}

 #phpbb input.search {
	background-image: none;
	background-repeat: no-repeat;
	background-position: left 1px;
	padding-left: 17px;
}

 #phpbb .full { width: 95%; }

 #phpbb .medium { width: 50%;}

 #phpbb .narrow { width: 25%;}

 #phpbb .tiny { width: 10%;}


